body{
    font-family: 'Open Sans', sans-serif;
}

.nav-style{
    color: #FD6E0A;
  
}
.nav-title{
    font-size: 45px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 15px 35px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
}
.header-container{
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 400px;
}
.banner-text{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-style{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}
/*********** main section start now ************** */
main{
    width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section start now  */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description{
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 20px;
    margin-bottom: 0px 20px;
}
/* .info-description{
    font-size: 20px;
} */
#what-id{
    padding: 30 150px;
}
.skills-container{
    display: flex;
    gap: 40px;
    
}
.skill{
    /* width: 267px;
    height: 377px;  */
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* justify-content: space-between; */
}
.skill-description{
    color:  #757575;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  margin-top: 20px;

}
/*********** resume section  ************/
.resume-column-title{
    color:  #474747;
    font-size: 30px;
   font-weight: 700;
   margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
   margin-top: 0px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute, .resume-item-description{
    color:  #757575;
   font-size: 16px; 
  font-weight: 400;
}
.download-cv{
    text-align: center;
    margin-top: 60px;
}
/************* footer style now  **************/
footer{
    display: flex;
    /* gap: 100px; */
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.social-links a{
    margin-right: 25px;
    
}
.footer-column{
   /* width: 50%; */
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    background:  #FFF;
    border-radius: 5px;
   color:  #757575;
   border: 0;
   width: 100%;

}
    